.light-mode {
    --header-bg-color: #58b0d3;
    --doc-bg-color: #eeeeee;
    --header-text-color: #000;
    --html-color: #000;
}

.dark-mode {
    --header-bg-color: #1b6813;
    --header-color: #000;
    --doc-bg-color: #000000;
    --header-text-color: #fff;
    --html-color: #fff;
}

html {
    height: 1000%;
    background-color: var(--doc-bg-color);
    color: var(--html-color)
}

.header {
    background-color: var(--header-bg-color);
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 101.1%;
    margin-left: -0.55%;
    margin-top: -1%;
    row-gap: 120px;
    column-gap: 100px;
}

.header button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--header-text-color);

}

form textarea {
    font-style: italic;
    color: #8a8a8a;
}