.light-mode {
    --form-input-bg-color: #cdcdcd;
    --header-bg-color: #abe0ff;
    --header-color: #fff;
    --doc-bg-color: #f2f2f2;
    --header-text-color: #000;
    --html-color: #000;

}

.dark-mode {
    --form-input-bg-color: #2c2c2c;
    --header-bg-color: #2b2b2b;
    --header-color: #000;
    --doc-bg-color: #000000c5;
    --header-text-color: #fff;
    --html-color: #fff;
}

html {
    background-color: var(--doc-bg-color);
    color: var(--html-color)
}

.header {
    background-color: var(--header-bg-color);
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 101.1%;
    margin-left: -0.55%;
    margin-top: -1%;
    row-gap: 120px;
    column-gap: 100px;
    /* position: fixed */
}

.header button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--header-text-color);
    font-size: large;

}

form textarea {
    font-style: italic;
    color: #8a8a8a;
}

.headerRight {
    margin-right: 2%;
}

.pages {
    margin-left: 2%;
}